<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">

    <title>Sistema de gestión de ingresos y gastos</title>
</head>
<body>
  <main>
  <form style="background-color:black; background-image: linear-gradient(black, darkgrey)">
      <div class="px-2 py-3 mx-3 text-center">
          <img src="https://www.lego.com/cdn/cs/catalog/assets/blt2f85682982941b02/1/bb8-thumb.png?format=1500w" class="d-block" height="70" alt="Ofrecemos disculpas página en construcción"/>
          <h1 class="display-5 fw-bold mb-4"style="color:white">TEXTILES APP-ZULÚ</h1>
      </div>
      <div class="px-2 py-3 mx-3 text-left">

          <h5 class="display-6 fw-bold mb-4"style="color:white"> Sistema de gestión <br>de ingresos y gastos</h5>
      </div>
  </form>
  <div style="float:left;height:280px; ; padding:20px; width:280px;background-image: linear-gradient(darkgrey,white)">
  <div class="d-flex gap-4 justify-content-center btn-group-vertical">

          <a th:href="@{/inicio}" class="btn btn-secondary sqs-block-button-element--medium sqs-button-element--primary sqs-block-button-element" style="margin:10px"><font size=5>Ingresos y egresos</font></a>
          <hr>
          <a th:href="@{/inicio}" class="btn btn-secondary sqs-block-button-element--medium sqs-button-element--primary sqs-block-button-element" style="margin:10px"><font size=5>Usuarios</font></a>
          <hr>
          <a th:href="@{/inicio}" class="btn btn-secondary sqs-block-button-element--medium sqs-button-element--primary sqs-block-button-element" style="margin:10px"><font size=5>Empresas</font></a>

          <div th:classappend="'alert-' + (${clase != null} ? ${clase} : info)" th:if="${mensaje != null}"
               th:text="${mensaje}"
               class="alert">
          </div>
  </div>
  </div>

  <!-- Button trigger modal -->
      <!--  <div class="px-2 py-3 mx-3 text-center">
        <div class="d-flex px-2 py-3 mx-3 text-center">
        <p class="lead mb-4" style="position: relative; margin: 10px; padding: 220px 100px; text-align: justify-center;" >A continución podra realizar el proceso de registro de transacción. Importante proporcionar toda la información solicitada en el formulario, esto con el objeto de proporcionar excelentes resultados.</p>
          <a><font size=5><button type="button" class="btn btn-secondary sqs-block-button-element--medium sqs-button-element--primary sqs-block-button-element" style="margin:1px 60px;" data-bs-toggle="modal" data-bs-target="#staticBackdrop" style="background-color:grey;border:none">
            Abrir Formulario
          </button></font></a>
        </div>
      </div>-->

            <form th:action="@{/inicio/qtran/tran}" th:method="post" th:object="${movimientoDinero}" class="d-flex flex-column gap-3 align-items-center">
                <div class="modal-body">
                    <br><br>
                    <label>Id Empleado</label><br><input th:field="${movimientoDinero.empleado.idUser}" class="form-control" type="number" placeholder="Id"/>
                    <br><br>
                    <label>Monto</label><br><input th:field="${movimientoDinero.montoDinero}" class="form-control" type="number" placeholder="Monto dinero"/>
                    <br><br>
                    <label>Concepto</label><br><input th:field="${movimientoDinero.conceptoMovimiento}" class="form-control" type="text" placeholder="Concepto movimiento" />
                    <br><br>
                    <label>Fecha</label><br><input type="date"><br><br>
                    <button class="btn btn-primary" type="submit">Aceptar</button>
                </div>
            </form><br><br><br>

        <!-- Modal -->
      <!--<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="staticBackdropLabel">Nuevo Movimiento de Dinero</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
              <form th:action="@{/inicio/qtran}" th:method="post" th:object="${newTran}" class="d-flex flex-column gap-3 align-items-center">
                  <div class="modal-body">
                  <label>Monto</label><br><input th:field="${newTran.montoDinero}" class="form-control" type="number" placeholder="monto_dinero"/>
                  <br><br>
                  <label>Concepto</label><br><input th:field="${taskList.conceptoMovimieto}" class="form-control" type="text" placeholder="concepto_movimiento" />
                  <br><br>
                  <label>Fecha</label><br><input type="date"><br><br>
                  <button class="btn btn-primary" type="submit">Aceptar</button>
                  </div>
              </form>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" style="background-color:grey">Cerrar</button>

            </div>
          </div>
        </div>
      </div>-->
<div style="clear:both; padding:10px; text-align:center; background-image: linear-gradient(white,darkgrey)">
<p>Zulú Group<p>
  <div class="col sqs-col-9 span-9"><div class="row sqs-row"><div class="col sqs-col-4 span-4"><div class="sqs-block html-block sqs-block-html" data-block-type="2" id="block-76040dec54b2a6a4fd91"><div class="sqs-block-content"><p class="" style="white-space:pre-wrap;text-align:center;">Cl. 67 #53-108, </p><p class="" style="white-space:pre-wrap;">Medellín, Aranjuez, </p><p class="" style="white-space:pre-wrap;">+57 (604) 2198332</p>
  </div></div></div></div></div>
</div>
</main>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>
<!-- <script src="app.js"></script> -->
</body>
</html>
